{% extends 'base.html.twig' %}
{% block body %}

    {{ form_start(form) }}
    {{ form_label(form.domainName) }}
    {{ form_widget(form.domainName) }}
    {{ form_label(form.user) }}
    {{ form_widget(form.user) }}
    {{ form_label(form.status) }}
    {{ form_widget(form.status) }}
    {{ form_label(form.frequency) }}
    {{ form_widget(form.frequency) }}
    {{ form_end(form) }}

    {% if siteCheck != [] %}
        <table class="table">
            <thead>
            <tr>
                <th>Domain Name</th>
                <th>Status</th>
                <th>Created at</th>
            </tr>
            </thead>
            <tbody>
            {% for site in siteCheck %}
                <tr>
                    <td>{{ site.site }}</td>
                    <td>{{ site.statusCode }}</td>
                    <td>{{ site.createdAt|date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('site_new_advance_test') }}" class="btn btn-primary">Create new advance test</a>
    {% endif %}

    <a href="{{ path('site') }}" class="btn btn-primary">Back</a>

{% endblock %}