{% extends 'base.html.twig' %}

{% block body %}
    {% if siteId is not null %}
        {% include '/nav/tabs.html.twig' with {'id': siteId} %}
    {% endif %}

    {{ form_start(form) }}
    {{ form_label(form.domainName) }}
    {{ form_widget(form.domainName) }}
    {{ form_label(form.status) }}
    {{ form_widget(form.status) }}
    {{ form_label(form.frequency) }}
    {{ form_widget(form.frequency) }}
    <a href="{{ path('site') }}" class="btn btn-warning btn-back btn-form">Back</a>
    {{ form_widget(form.save, {'attr':{'class': 'btn btn-primary btn-save btn-form'}}) }}
    {{ form_end(form) }}

{% endblock %}