{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}

    {{ form(form) }}

    <table class="table">
        <thead>

        <tr>
            {% for head in headline %}
            <th scope="col">{{ head }}</th>
            {% endfor %}
        </tr>

        </thead>
        <tbody>
    {% for site in sites %}
{#        {% if site < 10 %}#}
        <tr>
            <td>{{ site.domainName }}</td>
            <td>{{ site.status }}</td>
            <td>{{ site.user}}</td>
            <td>{{ site.createdAt|date }}</td>
            <td> <a href="{{ path('site_delete', {'id': site.id})}}">Delete</a> || <a href="{{ path('site_edit', {'id': site.id})}}">Edit</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock %}
