{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
    <a href="{{ path('site_new') }}" class="btn btn-primary">Create new </a>
    <table class="table" id="table-site">
        <thead>
        <tr>
            <th>Id</th>
            <th>Domain Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.id }}</td>
                <td>{{ site.domainName }}</td>
                {% if site.status == 1 %}
                    <td>Enabled</td>
                {% else %}
                    <td>Disabled</td>
                {% endif %}
                <td><a onclick="return confirm('Are you sure to delete this row?')" data-m
                       href="{{ path('site_delete', {'id': site.id}) }}" class="btn btn-dark"><i
                                class="bi bi-trash"></i></a>
                    <a href="{{ path('site_edit', {'id': site.id}) }}" class="btn btn-danger"><i
                                class="bi bi-pencil-square"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
