{% block body %}
    <form method="post" action="{{ url('app_login') }}">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}


        {% if app.user == false %}
            <div class="mb-3">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" value="{{ last_username }}" class="form-control" name="email" id="inputEmail"
                       aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary" data-bs-dismiss="modal" type="button">Cancel</button>
            <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
        {% endif %}


        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <input type="hidden" name="back_to" value="{{ path('site') }}"/>
    </form>
{% endblock %}
