{% extends 'base.html.twig' %}

{% block body %}

{#    {{ form(form) }}#}

{#    {{ form_start(form) }}#}
{#    {{ form_label(form.type) }}#}
{#    {{ form_widget(form.type) }}#}
{#    {{ form_label(form.destination) }}#}
{#    {{ form_widget(form.destination) }}#}
{#    {{ form_label(form.user) }}#}
{#    {{ form_widget(form.user) }}#}
{#    <a href="{{ path('default') }}" class="btn btn-warning btn-back btn-form">Back</a>#}
{#    {{ form_widget(form.save, {'attr':{'class': 'btn btn-primary btn-save btn-form'}}) }}#}

{% endblock %}