{% extends 'base.html.twig' %}

{% block body %}
    {{ form(form) }}
    <a href="{{ path('site_advance_test', {'id': id}) }}" class="btn btn-primary">Back</a>

    <caption>Result of tests</caption>
    <table class="table ">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Site</th>
            <th scope="col">Created at</th>
            <th scope="col">Result</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        {% for testResult in resultSiteTests %}
            <tr>
                <td>{{ testResult.id }}</td>
                <td>{{ testResult.site }}</td>
                <td>{{ testResult.createdAt |date }}</td>
                <td>{{ testResult.result }}</td>
                <td>{{ testResult.details }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
