{% extends 'base.html.twig' %}

{% block body %}
    {% include 'nav/settingsTab.html.twig' %}

    <div class="notification">
        <div>
            <a class="btn btn-primary btn-create-new" href="{{ path('site_new_notification_channel') }}">New Channel</a>
        </div>
        <div>
            <table class="table table-hover notification-table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for notificationChannel in notificationChannels %}
                    <tr>
                        <td class="row-notification">{{ notificationChannel.notificationName }}</td>
                        <td class="row-notification">{{ notificationChannel.type }}</td>
                        <td class="row-notification"> {{ notificationChannel.destination }}</td>
                        <td class="row-action"><a onclick="return confirm('Are you sure to delete this row?')"
                                                  data-m
                                                  href="{{ path('site_notification_delete', {'id' : notificationChannel.id}) }}"
                                                  class="btn btn-dark"><i class="bi bi-trash"></i></a>
                            <a href="{{ path('site_edit_notification_channel', {'id' : notificationChannel.id}) }}"
                               class="btn btn-danger"><i class="bi bi-pencil-square"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}