{% extends 'base.html.twig' %}

{% block body %}
    {% include 'nav/settingsTab.html.twig' %}
    <div class="password-changing">
        {{ form_start(form) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr':{'class': 'text-input-email'}}) }}
        {{ form_widget(form.plainPassword, {'attr':{'class': 'text-input'}}) }}
        {{ form_widget(form.save, {'attr':{'class': 'btn btn-primary btn-save btn-form'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}